.register-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #87ceeb; /* Sky blue */
    color: #00008b; /* Dark blue */
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
  }
  
  h2 {
    color: #00008b; /* Dark blue */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: calc(45% - 10px);
    padding: 8px;
    margin-right: 10px;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button {
    background-color: #00008b; /* Dark blue */
    color: white;
    padding: 10px 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000070; /* Slightly darker blue */
  }
  