.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
}

.register-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
}

.register-form h1 {
    text-align: center;
    color: darkblue;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"], .form-group input[type="number"] {
    width: calc(45% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Calibri', sans-serif;
}

.form-group input[type="number"] {
    width: 70px;
}

.form-group .problems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-group .problem {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
}

.form-group .problem label {
    margin-right: 10px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: navy;
}
