.register-container {
    background-color: skyblue;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
  }
  
  h2 {
    color: darkblue;
    font-family: 'Calibri Bold', sans-serif;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-family: 'Calibri Bold', sans-serif;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 45%;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .problems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .problems div {
    width: 20%;
  }
  
  button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00008b;
  }
  